* {
  margin: 0;
  padding: 0;
  color: #707070;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
  justify-content: center;
}

/* レイアウト（共通） */
.box {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.box-inner {
	margin: 50px;
}

.title {
	font-size: 1.75rem;
	margin-bottom: 30px;
	color: #3579E0;
}

/* ボタン（共通） */
.btn {
  border: 1px solid #3579E0;
  background-color: #3579E0;
}